@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    scroll-behavior: smooth;
}

* img {
    cursor: pointer;
    transition: all .6s;
}

* img:hover {
    transform: scale(1.1);
}

.l-header, .l-main,  .l-footer {
    max-width: 1250px;
    padding: 0px 20px;
    margin: 0 auto;
}

.l-header {
    background: black url('../imagem/homem_aranha.jpg') no-repeat right center;
    background-size: contain;
    padding-bottom: 30px;
}

.l-header .nav-container .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0px;
}

.logo {
    display: inline-block;
    width: 2rem;
}

input[type="search"] {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 20px 5px 10px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
}

.nav li:not(.nav li:first-child, .nav li:nth-child(5)) {border-left: 0.4px solid white;}

.nav button {
    outline: none;
    border: none;
    padding: 5px 15px 8px 0px;
    color: white;
    letter-spacing: 2px;
    background-color: rgb(235, 39, 39);
    cursor: pointer ;
    transition: all 1s ease-out;
}

.nav button:hover {
    transform: scale(1.01);
    box-shadow: 3px 2px 10px rgb(235, 39, 39);
} 

.menu-toggle, .menu-toggle img {
    display: none;
    width: 30px;
    border: none;
}

.title-header {
    font-family: 'Kdam Thmor Pro', sans-serif;
    max-width: 600px;
    font-size: 1.3rem;
    margin: 80px auto;
    text-align: center;
    color: white;
}

.l-header-image {
    display: flex;
    max-width: 600px;
    margin: 50px auto;
}


.l-header-image .image {
    margin-left: 25px;
    border: 1px solid gray;
}

.image {
    max-width: 140px;
}

.image img {
    object-fit: cover;
    width: 100%;
}

.header-btn-shopNow {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    border: none;
    padding: 10px 33px 10px 0px;
    color: white;
    background-color: rgb(235, 39, 39);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer ;
    transition: box-shadow .3s ease-in-out;
}

.header-btn-shopNow:hover {
    box-shadow: 1px 3px 10px rgb(235, 39, 39);
} 


.header-btn-shopNow > img {
    width: 40px;
}

.featured-products {
    padding-top: 30px;
    border-top: 1px solid gray;
    margin-top: 30px;
    text-align: center;
}

.featured-products h2 {
    font-size: 1.5rem;
    padding-bottom: 23px;
}

.products-item {
    max-width: 300px;
}

.products-item img {
    width: 100%;
}

.product {
    display: inline-block;
    margin-left: 20px;
}

.carousel-product-image {
    border: 1px solid gray;
    width: 100%;
    margin: auto;
    text-align: center;
}

.carousel-product-image img {
    width: 100%;
}

.newsLetter-text, .newsLetter-email {
    display: inline-block;
    max-width: 50%;
}

.newsLetter {
    margin-top: 30px;
    border-top: 1px solid gray;
    padding: 40px 0px;
}

.newsLetter-email input {
    padding: 10px;
}

.newsLetter-email button {
    outline: none;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    color: white;
    background-color: green;
    box-shadow: 3px 3px 10px green;
}

.products {
    display: grid;
    grid-template: 1fr 1fr/ repeat(3, 1fr);
    margin-top: 30px;
    padding: 40px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.container:not(.container:first-child){
    max-width: 150px;
}

.container:first-child {
    height: 100%;
    grid-row: span 2;
    align-self: center;
}

.container:first-child .products-item {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.about {
    max-width: 500px;
    margin-top: 30px;
    padding: 40px 0px;
    margin: 0 auto;
    text-align: center;
}

.about > h2 {
    font-size: 2rem;
    padding-bottom: 15px;
}

.l-footer {
    background-color: black;
    color: white;
}

.footer-container {
    border-top: 1px solid gray;
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
}

.l-footer ul li {
    list-style: none;
    padding-top: 15px;
    transition: all .5s;
    cursor: pointer;
}

.l-footer ul li:hover {
    padding-left: 7px;
}
.l-footer ul li a {
    text-decoration: none;
}

.l-footer-image, .l-footer img {
    max-width: 100px;
}

@media (max-width: 838px){
    .nav ul li:not(.nav ul li:last-child){
        display: none;
    }

    .menu-toggle, .menu-toggle img {
        display: inline-block;
        width: 30px;
        border: none;
    }

    .newsLetter {
        display: flex;
        align-content: space-around;
        text-align: center;
    } 

    .newsLetter input {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width: 668px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width: 530px){
    .newsLetter {
        display: flex;
        flex-direction: column;
        height: 300px;
        align-items: center;
    }

    .newsLetter > * {
        margin-bottom: 20px;
    }
    
    .newsLetter input {
        width: 100%;
        margin-bottom: 20px;
    }

    .logo {
        display: none;
    }

    .products {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }

    .container:first-child {
        display: none;
    }
}

@media (max-width: 450px){
    .l-header-image .image:not(.image:nth-child(2)){
        display: none;
    }

    .l-header-image {
        justify-content: center;
    }
}
